//
   Created by maximesenecal on 20/05/2016.

footer.page-footer.orange
    .container
        .row
            .col.l6.s12
                h5.white-text transcode.io
                p.grey-text.text-lighten-4
                    | Nous sommes une équipe de 4 développeurs à SUPINFO Lille espérant valider notre projet de fin d'année.
            .col.l3.s12
                h5.white-text Technologies
                ul
                    li
                        a.white-text(href='#!') mongodb
                    li
                        a.white-text(href='#!') nodejs
                    li
                        a.white-text(href='#!') jade
            .col.l3.s12
                h5.white-text npm
                ul
                    li
                        a.white-text(href='#!') fluent-ffmpeg
                    li
                        a.white-text(href='#!') mongoose
                    li
                        a.white-text(href='#!') passport
                    li
                        a.white-text(href='#!') multer
                    li
                        a.white-text(href='#!') bcrypt-nodejs
    .footer-copyright
        .container
            | Made by
            a.orange-text.text-lighten-3(href='http://materializecss.com')  supinfo.com

// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='/static/javascripts/materialize.js')
script(src='/static/javascripts/init.js')