//
   Created by maximesenecal on 20/05/2016.

footer.page-footer.orange
    .container
        .row
            .col.l6.s12
                h5.white-text transcode.io
                p.grey-text.text-lighten-4
                    | Nous sommes une équipe de 4 développeurs à SUPINFO Lille espérant valider notre projet de fin d'année.
                    | Ce projet nous a énormément apporté sur nos compétences techniques en développement et en administration système.
                    | Cette version n'est pas finalisée. Certains bugs peuvent encore être présents.
            .col.l3.s12
                h5.white-text Technologies
                ul
                    li
                        a.white-text(href='https://www.mongodb.com/') mongodb
                    li
                        a.white-text(href='https://nodejs.org/en/') nodejs
                    li
                        a.white-text(href='http://jade-lang.com/') jade
            .col.l3.s12
                h5.white-text Modules
                ul
                    li
                        a.white-text(href='https://github.com/fluent-ffmpeg/node-fluent-ffmpeg') fluent-ffmpeg
                    li
                        a.white-text(href='http://mongoosejs.com/index.html') mongoose
                    li
                        a.white-text(href='https://github.com/passport') passport
                    li
                        a.white-text(href='https://www.npmjs.com/package/multer') multer
                    li
                        a.white-text(href='https://www.npmjs.com/package/bcrypt-nodejs') bcrypt-nodejs
    .footer-copyright
        .container
            | Made by
            a.orange-text.text-lighten-3(href='http://www.supinfo.com/')  supinfo.com

// Scripts
script(src='https://code.jquery.com/jquery-2.1.1.min.js')
script(src='/static/javascripts/materialize.js')
script(src='/static/javascripts/init.js')