//
   Created by maximesenecal on 24/05/2016.

#create-row.row
    #create-list-login-container.row.create-list-button
        .col.s12.m6.l6
            .create-list-login-panel.center.create-list-connect-btn
                p.flow-text Connectez-vous simplement grâce aux réseaux sociaux
                div
                    a.connect-btn.button-google.btn.create-list-button(href='#')
                        | Google
                div
                    a.connect-btn.button-windows.btn.create-list-button(href='#')
                        | Twitter
                div
                    a.connect-btn.button-facebook.btn.create-list-button(href='#')
                        | Facebook
        .col.s12.m6.l6.create-list-login-right
            .create-list-login-panel.center
                div
                    input.new-list-name-hidden(type='hidden', name='new-list-name')
                    .center
                        p.flow-text Connectez vous avec votre adresse mail
                    .row
                        .col.s12.input-field
                            input#email(name='email', type='email')
                            label(for='email') Votre adresse mail
                    .row
                        .col.s12.input-field
                            input#password(name='password', type='password')
                            label(for='password') Choisissez un mot de passe
                    .row.center
                        button#create-account-and-list.btn Connexion
                        p#create-account-and-list-message.materialize-red-text.lighten-2
                div
                    | Vous n'avez pas de compte ?
                    a.modal-trigger(href='')  Créer un compte.
    .row.center
        a(href='/terms') Conditions d'utilisation