//
   Created by maximesenecal on 24/05/2016.

#create-row.row
    #create-list-login-container.row.create-list-button
        .col.s12.m6.l6
            .create-list-login-panel.center.create-list-connect-btn
                p.flow-text Connectez-vous simplement grâce aux réseaux sociaux
                div
                    a.connect-btn.button-facebook.btn.create-list-button.indigo.darken-1(href='/user/login/facebook')
                        | Facebook
                div
                    a.connect-btn.button-google.btn.create-list-button.red.darken-1(href='/user/login/google')
                        | Google
                div
                    a.connect-btn.button-windows.btn.create-list-button.blue.darken-1.disabled(href='#')
                        | Twitter
        .col.s12.m6.l6.create-list-login-right
            .create-list-login-panel.center
                div
                    input.new-list-name-hidden(type='hidden', name='new-list-name')
                    .center
                        p.flow-text Connectez vous avec votre adresse mail
                    form(action="/user/login", method="post").col.s12
                        .row
                            .col.s12.input-field
                                input#email(name='email', type='email')
                                label(for='email') Votre adresse mail
                        .row
                            .col.s12.input-field
                                input#password(name='password', type='password')
                                label(for='password') Choisissez un mot de passe
                        .row.center
                            button(type='submit', name='action').btn Connexion
                div
                    | Vous n'avez pas de compte ?
                    a.modal-trigger(href='/user/signup')  Créer un compte.
    .row.center
        a(href='/terms') Conditions d'utilisation