//
   Created by maximesenecal on 09/06/2016.

//
   Created by maximesenecal on 20/05/2016.

extends layout

block content
    br
    .container
        .section
            .row
                table
                    thead
                        tr
                            th(data-field='id') Nom des fichiers
                            th(data-field='type') Type
                            th(data-field='audio_codec') Taille
                            th(data-field='video_codec') Actions
                    tbody
                        if files
                            each file in files
                                tr
                                    td #{file.name}
                                    td #{file.size}
                                    td #{file.formatOutput}
                                    td #{file.download}
                        else
                            tr
                                td Ex : game.of.thrones.s06e05.720p.hdtv.x264-avs
                                td mkv
                                td 1.10Go
                                td Conversion en cours