extends layout

block content
  .container
    ul.collection.with-header
      li.collection-header
        h5= message
      li.collection-item
        div
          | #{error.status}
          a.secondary-content(href='#!')
            i.material-icons warning
      li.collection-item
        div
          | #{error.stack}
          a.secondary-content(href='#!')
            i.material-icons code