//
   Created by maximesenecal on 20/05/2016.

extends layout

block content
    if message
        | #{message}
    .container
        .section
            .row
                form(method="post",enctype="multipart/form-data",action="/transcoding")
                    p
                        input(type="file",name="upl")
                    p
                        .input-field.col.s12
                            select(name="formatChoice")
                                optgroup(label='Audio')
                                    option(value='mp3') mp3
                                optgroup(label='Video')
                                    option(value='mp4') mp4
                                    option(value='quicktime') mov
                                    option(value='divx') avi
                            label Choix du format de conversion
                    p
                        input(type="submit")
