//
   Created by maximesenecal on 20/05/2016.

extends layout

block content
    if message
        .container
            .row
                .col.s12
                    .card-panel.amber.darken-1
                        span.white-text #{message}
    .container
        .section
            .row
                form(method="post",enctype="multipart/form-data",action="/transcoding")
                    p
                        .file-field.input-field.col.s8
                            .btn
                                span Sélectionner un média
                                input(type='file', name="upl")
                            .file-path-wrapper
                                input.file-path.validate(type='text')
                    p
                        .input-field.col.s4
                            select(name="formatChoice")
                                optgroup(label='Audio')
                                    option(value='mp3') mp3
                                optgroup(label='Video')
                                    option(value='mp4') mp4
                                    option(value='quicktime') mov
                                    option(value='divx') avi
                            label Choix du format de conversion
                    p
                        br
                        .col.s12.center-align
                            input.btn.blue.darken-1(type="submit")